{block content}
    <button id="add-root-node-btn" onclick="addRootNode()">Add Root Node</button>
    <div id="tree-container"></div>
{/block}

{block scripts}
    <script src="{$baseUrl}/assets/js/app.js"></script>
{/block}
